html {
    height: 100%;
}

body {
    font-family: "Sofia", sans-serif;
    background-image: url(https://images.hdqwalls.com/download/forest-mist-trees-4k-u1-2560x1440.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    min-height: 100%;
    color: white ;
    font-size: 35px;
    align-items: center;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);
    resize: none;
}

.boxcontent {
    margin: 10px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    background-color: blueviolet;
    margin: auto;
    width: 60%;
    height: 40%;
    padding: 100px;
    position: absolute;
    top: 150px;;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.8;
}

h1{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);;
}

a{
    color:blanchedalmond;
    text-decoration-line: underline;
    margin-top: 50px;
    
}

.button{
    background-color: blanchedalmond;
    border: 5px;
    border-radius: 8px;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    margin-top: 50px;
    font-family: "Sofia", sans-serif;
}

p{
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#quotedisplay{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);;
}
