
body {
    font-family: "Sofia", sans-serif;
    /*background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);*/
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    color: white ;
    font-size: larger;
    align-items: center;
}

.boxcontent {
    margin: 10px;
    justify-content: center;
    border-radius: 10 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    background-color: blueviolet;
    margin: auto;
    width: 75%;
    padding: 100px;
}



h1{
    text-shadow: 1px 1px 5px rgb(0, 0, 0);;
}
a{
    color:blanchedalmond;
    text-decoration-line: none;
    margin-top: 50px;
    
}

.button{
    background-color: blanchedalmond;
    border: 5px;
    border-radius: 8px;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
    margin-top: 50px;
    font-family: "Sofia", sans-serif;
}

p{
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#quotedisplay{
    text-shadow: 1px 1px 2px rgb(0, 0, 0);;
}
